.row{
    clear: both;
}
.row :hover{
    background-color: rgb(0, 255, 13);
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
}
h1{
    font-weight: bolder;
    font-size: 30px;
    color: darkmagenta;
    margin-top: 20px;
    margin-left: 100px;
}
button{
    margin-left: 8%;
}

h2{
    clear: both;
    font-weight: bolder;
    font-size: 30px;
}